In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head()

   Cell0  Cell1  Cell2  Cell3  Cell4  Cell5  Cell6  Cell7  Cell8  Player  Move
0      2      0      1      1      1      0      2      0      0       2     5
1      2      1      2      2      1      1      1      2      0       1     8
2      1      0      0      0      0      0      0      0      0       2     4
3      1      0      0      0      0      0      0      0      0       2     4
4      0      0      0      0      0      0      0      0      0       1     4

In [4]:
print(data.head().to_latex())

\begin{tabular}{lrrrrrrrrrrr}
\toprule
{} &  Cell0 &  Cell1 &  Cell2 &  Cell3 &  Cell4 &  Cell5 &  Cell6 &  Cell7 &  Cell8 &  Player &  Move \\
\midrule
0 &      2 &      0 &      1 &      1 &      1 &      0 &      2 &      0 &      0 &       2 &     5 \\
1 &      2 &      1 &      2 &      2 &      1 &      1 &      1 &      2 &      0 &       1 &     8 \\
2 &      1 &      0 &      0 &      0 &      0 &      0 &      0 &      0 &      0 &       2 &     4 \\
3 &      1 &      0 &      0 &      0 &      0 &      0 &      0 &      0 &      0 &       2 &     4 \\
4 &      0 &      0 &      0 &      0 &      0 &      0 &      0 &      0 &      0 &       1 &     4 \\
\bottomrule
\end{tabular}